@media screen and (max-width: 500px) {
  #logo {
    width: 75%;
    height: auto;
  }

  a.nav-link {
    font-size: 1.5rem;
  }

  .navbar-nav i {
    color: white;
    margin: 2vmin;
  }

  .skills-section img {
    width: 60%;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
  }

  .github-stats {
    text-align: center;
  }

  section#about {
    margin-top: -1rem;
  }

  .col-md-4.card-body ul {
    margin: 0 auto;
    text-align: center;
  }

  div.article-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 1rem;
  }

  #item1.card {
    height: auto;
    margin-top: 15rem;
  }

  .article-section .card {
    width: 100%;
    height: auto;
  }

  .small-icons i {
    padding: 0 0.2rem;
  }

  .sitemap .nav-item a {
    font-size: 1.5rem;
  }

  .sitemap .nav-item i {
    margin: 2vmin;
  }

  .footer-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  div.article-section {
    padding-top: 0;
  }

  .content img {
    width: 10vmin;
    height: 10vmin;
    margin-top: 0.5rem;
  }

  p.text-center {
    font-size: 1rem;
  }

  #achievements {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .single-image {
    width: 100%;
    margin-right: 0;
    padding: 1rem 0.5rem;
  }

  img#main-img {
    display: none;
  }

  .single-image img {
    width: 100%;
  }

  .small-img-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem;
  }

  .small-img-col img {
    width: 75%;
  }
}

/* Big screen mobile devices */
@media screen and (max-width: 768px) {
  #loader {
    background-size: 100%;
  }

  nav {
    z-index: 1000;
  }

  #logo {
    margin: 0 auto;
  }

  a.nav-link {
    z-index: 1;
  }

  h1.text-center::first-letter,
  h4.text-center::first-letter {
    font-size: 2.2rem;
  }

  h4.text-center,
  h1.text-center,
  h3 {
    font-size: 2rem;
  }

  .github-stats img {
    width: 90%;
  }

  .asset-section {
    margin-top: 0;
    z-index: 1000;
  }

  div.article-section {
    margin-top: -8rem;
  }

  div.container.grid {
    margin-top: -5rem;
  }

  .grid-container,
  .col-md-4 {
    margin-top: 2rem;
  }

  .container.grid img {
    width: 100%;
    border-radius: 10px;
  }

  .card-body ul li {
    font-size: 1.3rem;
  }

  .col-md-4.card {
    padding: 0 auto;
  }

  .content img {
    width: 10vmin;
    height: 10vmin;
    margin-top: 0.5rem;
  }

  p.text-center {
    font-size: 1rem;
  }

  .single-image {
    width: 100%;
    margin-right: 0;
    padding: 1rem 0.5rem;
  }
}

/* Tablets */
@media screen and (max-width: 1024px) {
  nav {
    padding: 0 2rem;
  }

  .hamburger {
    display: block;
  }

  .bar:nth-child(1) {
    width: 100%;
  }

  .bar:nth-child(2) {
    width: 200%;
  }

  .bar:nth-child(3) {
    width: 300%;
  }

  .active .bar:nth-child(2) {
    opacity: 0;
    width: 300%;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #002147;
    margin: 0 auto;
    z-index: 1;
  }

  .active {
    left: 0;
    z-index: 999;
    transition: 0.2s ease;
  }

  a.nav-link {
    color: #fff;
    z-index: 1;
    padding: 1rem 1rem;
  }

  #logo {
    margin: 0 auto;
    z-index: 999;
  }

  .single-image {
    width: 100%;
    margin-right: 0;
    padding: 1rem 1rem;
  }

  h1.text-center {
    z-index: 999;
  }

  h3,
  p,
  p.text-center,
  #item1.card a,
  #item2.card a,
  pre code {
    font-size: 1.5rem;
  }

  div.article-section {
    margin-top: -10rem;
  }

  .grid-container,
  .col-md-4 {
    margin-top: 2rem;
  }

  .content img {
    width: 8vmin;
    height: 8vmin;
    margin-top: 0;
    text-align: left;
  }

  button {
    font-size: 1.3rem;
    height: auto;
    text-align: left;
  }

  .content button {
    width: auto;
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}

@media screen and (min-height: 1300px) {
  .circle1 {
    top: 8%;
    right: 2%;
  }
  .circle2 {
    top: 50%;
  }
}

@media screen and (min-width: 1280px) {
  h1.text-skills {
    font-size: 20rem;
    opacity: 0.6;
  }

  .skills-section {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .content img {
    height: 8vmin;
    width: 8vmin;
  }
}

@media screen and (max-width: 950px) {
  h1.text-skills {
    font-size: 13rem;
    opacity: 0.9;
  }

  .content-box h4 {
    font-size: 1.5rem;
  }

  .content-box p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 550px) and (max-height: 750px) {
  div.article-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .content button {
    width: auto;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  #demos {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .container {
    max-width: 100% !important;
  }

  div.article-section {
    margin-top: 10rem;
  }

  .content-box h4,
  .content-box p {
    background-size: 80% 0.5px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
  }

  .content img {
    height: 6vmin;
    width: 6vmin;
  }

  .footer.container {
    max-width: 100%;
  }

  .container.footer-grid {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 1rem 0;
  }

  h1.text-skills {
    font-size: 6rem;
    opacity: 0.9;
  }

  div.article-section {
    margin-top: -10rem;
  }

  .banner {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 360px) {
  a.nav-link {
    padding: 0.25rem 0;
  }

  div.article-section {
    margin-top: -10rem;
  }
}
