@media screen and (max-width: 500px) {
  #logo {
    width: 100%;
    height: auto;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
  }

  .github-stats {
    text-align: center;
  }

  .col-md-4.card-body ul {
    margin: 0 auto;
    text-align: center;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    border: none;
    gap: 2rem;
  }

  .grid-item img {
    width: 40%;
  }

  .grid-item {
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px, rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
  }

  .grid-item:hover {
    box-shadow: none;
  }

  #item1.card {
    height: auto;
  }

  .tools .card {
    width: 100%;
    height: auto;
  }

  .small-icons i {
    padding: 0 0.2rem;
  }

  .content img {
    width: 10vmin;
    height: 10vmin;
    margin-top: 0.5rem;
  }

  .text-box ul li {
    font-size: 1.2rem;

  }

  #achievements-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container.footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

/* Big screen mobile devices */
@media screen and (max-width: 768px) {
  #loader {
    background-size: 100%;
  }

  .container {
    max-width: 100% !important;
  }

  h1.text-center::first-letter,
  h3.text-center::first-letter {
    font-size: 2rem;
  }

  h3.text-center,
  h1.text-center,
  h3 {
    font-size: 1.75rem;
  }

  .asset-section {
    margin-top: 0;
    z-index: 1000;
  }

  .container.grid {
    margin-top: -5rem;
  }

  .grid-container,
  .col-md-4 {
    margin-top: 2rem;
  }

  .container.grid img {
    width: 100%;
    border-radius: 10px;
  }

  .col-md-4.card {
    padding: 0 auto;
  }

  .content img {
    width: 10vmin;
    height: 10vmin;
    margin-top: 0.5rem;
  }

  .pop-up {
    min-width: 90%;
  }

  .pop-up1.open,
  .pop-up2.open,
  .pop-up3.open {
    width: 95%;
  }

  .tools {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #slider-container {
    width: 95%;
  }
}

/* Tablets */
@media screen and (max-width: 1024px) {
  nav {
    padding: 0 2.5rem;

  }

  #logo {
    margin: 0 auto;
    z-index: 999;
  }

  #logo-link {
    width: 75%;
    margin: 0 auto;
  }

  .hamburger {
    display: block;
  }

  .bar:nth-child(1) {
    width: 100%;
  }

  .bar:nth-child(2) {
    width: 200%;
  }

  .bar:nth-child(3) {
    width: 300%;
  }

  .active .bar:nth-child(2) {
    opacity: 0;
    width: 300%;
  }

  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }

  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }

  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #fff;
    margin: 0 auto;
    z-index: 1;
  }

  .active {
    left: 0;
    z-index: 999;
    transition: 0.2s ease;
  }

  a.nav-link {
    font-size: 1.25rem;
    color: #000;
    z-index: 1;
    padding: 1rem 1rem;
  }

  h1.text-center {
    z-index: 999;
  }

  h3,
  p,
  p.text-center,
  #item1.card a,
  #item2.card a,
  pre code {
    font-size: 1.25rem;
  }

  h1.text-skills {
    font-size: 13rem;
    opacity: 0.9;
  }

  .grid-container,
  .col-md-4 {
    margin-top: 2rem;
  }

  .content img {
    width: 8vmin;
    height: 8vmin;
    margin-top: 0;
    text-align: left;
  }

  button {
    font-size: 1.25rem;
    height: auto;
    text-align: left;
  }

  .content button {
    width: auto;
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width:1300px) {
  nav {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
  }

  #logo {
    margin-left: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .content img {
    height: 8vmin;
    width: 8vmin;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100% !important;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .content-box h3,
  .content-box p {
    background-size: 80% 0.5px;
  }

  .content img {
    height: 6vmin;
    width: 6vmin;
  }

  .container.footer-grid {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 1rem 0;
  }

  h1.text-skills {
    font-size: 6rem;
    opacity: 0.9;
  }
}

@media screen and (max-width: 360px) {
  a.nav-link {
    padding: 0.25rem 0;
  }
}

/* General Font sizes across larger devices */
@media screen and (min-width: 1800px) {

  h1,
  h2,
  h3,
  h1.text-center,
  h2.text-center,
  h3.text-center,
  .card-body h3,
  h1.text-left,
  .content-box h3,
  .blog-section-intro h3,
  #item1 h3,
  #item2 h3,
  #item1.card a {
    font-size: 2.5rem;
  }

  .input-group-text a {
    font-size: 1rem;
  }

  p,
  p.text-center,
  p.text-left,
  a,
  #item1.card a,
  #item2.card a,
  #uppercase,
  .content-box p,
  .blog-section-intro p,
  .card-body ul li,
  .card p,
  .main-grid h3 {
    font-size: 1.5rem;
  }

  h1.text-center::first-letter,
  .content-box h3::first-letter,
  .blog-section-intro h3::first-letter {
    font-size: 3rem !important;
  }

  .timeline time {
    font-size: 14px;
  }
}