* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

body {
  background: #fff;
  overflow-x: hidden;
}

.text-left {
  padding-left: 1rem;
}

.grid-container {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0.5px solid #ffa500;
}

.grid-container .grid-item {
  z-index: 1;
}

.grid-container .grid-item a {
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 1.25;
}

.grid-container .grid-item.item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.grid-container .grid-item.item2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.grid-container .grid-item.item4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.grid-container .grid-item.item5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.grid-container .grid-item.item7 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.grid-container .grid-item img {
  width: 25%;
  height: 35%;
}

/* Asset Section section ends */
/*Project Table Section*/
.table-area {
  margin-top: 50px;
}

table.responsive-table {
  display: table;
  /* required for table-layout to be used (not normally necessary; included for completeness) */
  table-layout: fixed;
  /* this keeps your columns with fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  height: 100%;
  text-align: left;
}

table.responsive-table thead {
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  background: #eee;
}

table.responsive-table th {
  font-size: 2rem;
  font-weight: 500;
  background: #eee;
}

@media screen and (max-width: 500px) {
  table.responsive-table th {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

table.responsive-table td {
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

@media screen and (max-width: 500px) {
  table.responsive-table td li {
    font-weight: 500;
  }
}

table.responsive-table td ol {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (max-width: 500px) {
  table.responsive-table td {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

table.responsive-table td a {
  font-size: 1.5rem;
  text-decoration: underline;
}

table.responsive-table td a:hover {
  color: #E77200;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  table.responsive-table td a {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

/* End of Project Table Setion */
.grid-project {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  overflow: hidden;
  gap: 2rem;
}

.grid-project .card-body-one {
  position: relative;
}

.grid-project #phone-frame {
  top: 0%;
  left: 68%;
  opacity: 0.075;
}

@media screen and (max-width: 500px) {
  .grid-project #phone-frame {
    top: 50%;
    left: 50%;
  }
}

.grid-project a:hover {
  text-decoration: none;
  list-style: none;
}

.grid-project a:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.grid-project a:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.grid-project a:nth-child(3) {
  margin: 0 auto;
  place-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 75%;
  background: transparent !important;
}

@media screen and (max-width: 768px) {
  .grid-project a:nth-child(3) {
    width: 100%;
  }
}

.grid-project .card-body,
.grid-project img,
.grid-project .card-title {
  background: transparent;
}

.grid-project .card-img img {
  width: 100%;
  height: auto;
  background: transparent;
}

.grid-project .card-title h2,
.grid-project p {
  background-image: -webkit-gradient(linear, left top, right top, from(#E77200), to(#E77200));
  background-image: linear-gradient(90deg, #E77200, #E77200);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 500ms ease;
  transition: background-size 500ms ease;
}

.grid-project .card-title h2:hover,
.grid-project p:hover {
  background-size: 75% 2px;
}

/* Demo Section */
.demo-projects-section img {
  width: 100%;
  height: 95%;
  margin-top: 1rem;
}

.demo-projects-section .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.demo-projects-section .gif-grid {
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px, rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px, rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
}

.demo-projects-section .gif-grid .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
}

.demo-projects-section .gif-grid .pic img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
}

.demo-projects-section .gif-grid .dots {
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  top: 5%;
  left: 15%;
  z-index: 2;
}

.demo-projects-section .gif-grid .dots:nth-child(1) {
  margin: 0 0.75rem;
  background: #ffbd44;
}

.demo-projects-section .gif-grid .dots:nth-child(2) {
  background: #00ca4e;
  margin: 0 2.3rem;
}

.demo-projects-section .gif-grid .dots:nth-child(3) {
  background: #ff605c;
  margin: 0 -0.75rem;
}

/* End of Demo Section */
/* Tools Section for Project Html*/
.tools {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 2.5rem;
}

.tools .card {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

#item1.card {
  height: 55%;
}

#item1 h3,
#item2 h3 {
  font-weight: 500;
}

#item1.card p,
#item2.card p {
  font-weight: 500;
}

#item1.card a,
#item2.card a,
p {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.content-tool {
  overflow-x: hidden;
}

.content-tool button {
  overflow-x: hidden;
  max-width: 95%;
  width: auto;
  font-size: 1.2rem;
}

.content-tool button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.content-tool button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.content-tool img {
  width: 8vmin;
  height: 8vmin;
  margin-top: 0.5rem;
}

.content-tool img:hover {
  cursor: pointer;
}

pre code {
  color: #000 !important;
  text-decoration: none;
}

#item1.card,
#item2.card {
  padding-left: 0.5rem;
  background: #fff;
  text-align: start;
  line-height: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-img img {
  width: 100%;
}

/* End of Tools section for Project Html*/
@media (max-width: 500px) {
  .grid-project {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem 0.5rem;
  }
  .card-body {
    padding: 0 !important;
  }
  .card-body .card-title h2 {
    font-size: 1.75rem;
    font-weight: 500;
  }
  .card-body .card-title p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

@media (min-width: 1280px) {
  .text-box {
    top: 25%;
    left: 40%;
  }
  .text-box h1 {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=project.css.map */